body {
    margin: 0;
    padding: 60px;
}

header, footer {
    padding: 10px;
    background: rgb(255, 145, 0);
    color: white;
    text-align: center;
}

h1, p {
    margin: 0;
}

h1 {
    font-size: 50px;
}

.container {
    background: rgb(235, 206, 168);
    display: flex;
    text-align: center;
}

.entrada {
    padding: 30px 0;
    display: inline-block;
    text-align: center;
    width: 45%;
}

.digitacao {
    display: block;
    font-size: 20px;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
}

.digitacao:hover {
    background:  rgb(253, 246, 233);
}

.digitacao:focus {
    background:  rgb(253, 246, 233);
    border-color: rgb(255, 145, 0);
    outline: none;
}

.resultado {
    display: inline-block;
    padding: 50px 0;
    width: 50%;
}

.resultado p {
    font-size: 40px;
    font-weight: bold;
    background: rgb(255, 145, 0);
    color: white;
}

.resultado h1 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 30px;
    color: rgb(231, 89, 7);
    height: 50px;
}










